body {
  background-color: #666666;
}
.container-div{
  padding:1% 5% 0% 5%;
    /*background-color: #CCCCCC;*/
}
.output{
  float: left;
  position: absolute;
  top:80%;
  left :5%;

}
#cursor {
  width: 30px;
  height: 30px;
  position: fixed;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 910;
  opacity: 0.5;

  background: black;
  border-radius: 100%;
  background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: -moz-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: radial-gradient(100px 100px, circle, #5cabff, #000);
}

.load-button{
  padding: 1em;
  margin: auto;
  background-color: gray;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
}
.load-button:hover{
  background-color:#CCCCCC;
  border-color: black;
  border-radius: 2px;
  border-style: solid;
}

.load-buttonWrap{
  text-align: center;
  float: left;
  padding:10px 10px 10px 10px;
}

.workspace-div{
  float: right;
  width: 65%;
  height: 100%;
  min-height: 700px;
  background-color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
.image-div{
  width: 20%;
  max-width: 20%;
  float: left;
  background-color: #333333;
  border-radius: 1px;
  padding: 0.5% 1% 0.5% 2%;
  opacity: 50%;
}
.image-thumbnail{
  width:100px;
  height:100px;
}
.image-span{
  margin: 0% 1% 0% 1%;
}
